#qr-code-form {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	min-height: 100vh;
	overflow-y: auto;
	border-left: 2px solid #fff;
	gap: 20px;
	padding: 30px;
}

#qr-code-download-buttons {
	display: flex;
	gap: 9px;
}

@media only screen and (max-width: 768px) {
	#qr-code-form {
		width: 100%;
		height: calc(100vh - 60px);
		border-left: none;
		border-top: 2px solid #fff;
	}
}
