#qr-code-form {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	gap: 20px;
}

#qr-code-download-buttons {
	display: flex;
	gap: 9px;
}

@media only screen and (max-width: 768px) {
	#qr-code-form {
		width: 100%;
		height: calc(100vh - 60px);
	}
}
